*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.topnav{
    justify-content: space-between;
    padding: 1.2rem 5rem 1.2rem 5rem;
    background-color: black;
    align-items: center;
}
.logo {
    width: 50px;
    cursor: pointer;
    margin-right: 15px;
}
.logo_title{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    border-left: 2px solid #fff;
    padding-left: 15px;
}
.logo_title:hover{
    text-decoration: underline;
}
.top_btn{
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1.5px solid #ccc;
}
.btn_request{
    background-color: #191a1b;
    margin-right: 5px;
}
.btn_signIn{
    background-color: #4C5FD5;
    transition: 0.5s;
    padding: 10px 25px;
}
.btn_signIn:hover{
    background-color: #fff;
    color: #191a1b;
    transition: 0.5s;
}
.main{
    min-height: 23rem;
    background-color: #dadbf1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.main_title{
    font-size: clamp(1rem, 10vw, 7rem);
    font-weight: 600;
    margin-bottom: 1rem;
}
.form_search{
    width: 80%;
}
.form_input{
    display: inline-block;
    width: max(250px, 70%);
    margin-left: 15%;
    padding: 1rem 1rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.6rem;
    transition: 0.5s;
}
.form_input:focus, .form_input:hover{
    outline: none;
    border-color: #4C5FD5 ;
    transition: 0.5s;
}
#right_arrow{
    margin-left: -3rem;
}
.form_search #right_arrow {
    font-size: 1.5rem;
    transition: 0.5s;
}
#input_search:hover + #right_arrow{
    color: #4C5FD5;
    transition: 0.5s;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
}
.category_items{
    flex: 1;
    flex-basis: 45%;
    display: flex;
    margin-bottom: 50px;
}
.category_img{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 35px;
}
.category_img img{
    max-width: 100%;
    max-height: 120px;
    height: auto;
}
.category_description h3{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 15px;
}
.category_description p{
    font-weight: 300;
    font-size: 1.6rem;
    color: #191a1b;
}
.category_description a{
    font-weight: 300;
    font-size: 1.2rem;
    color: #4C5FD5;
    text-decoration: none;
}
.category_description a:hover{
    text-decoration: underline;
}
.footer_wrapper{
    width: 100%; 
    padding: 1.2rem 5rem 1.2rem 5rem; 
    display: flex;
    justify-content: space-between;
    background-color: black;
}
@media(max-width: 40rem){
    .logo {
        width: 35px;
        margin-right: 0px;
    }
    .logo_title{
        font-size: 1.2rem;
        padding-left: 8px;
    }
    .topnav{
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .top_btn{
        padding: 5px 5px;
        font-size: 0.8rem;
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }
    .category_description p{
        font-size: 1.2rem;
    }
    .category_description a{
        font-size: 1rem;
    }
    .footer_wrapper{
        padding: 1rem;
        display: block;
    }
}
.footer_column{
    display: flex;
    flex-flow: column;
}
.footer_column h3{
    color: white;
    font-size: 1.8rem;
}
.footer_column a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.footer_column a:hover{
    text-decoration: underline;
}